/* Basic Style */
.basic-style {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

.eisenhower-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.eisenhower-img {
  width: 100%;
}

.eisenhower-matrix .more-inf {
  font-family:fantasy, cursive;
}

@media (max-width: 768px) {
  
  .eisenhower-matrix {
    text-align:center;
  }
  
}

.page-element {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-wrapper {
  display: flex;
}

.complete-task {
  margin: 0;
  padding: 0px;
}

.li-style,
.h3-style {
  list-style: none;
}

.input-style,
.button-style {
  outline: none;
}
.button-style {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.button-style:hover {
  color: #3a3a3a;
}

/* Heading */
.h3-style,
.label-style {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-style[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}

.input-style[type="text"]:focus {
  color: #333;
}

/* New Task */
.label-style[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

.input-style#new-task {
  width: 318px;
}

/* Task list */
.li-style {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-style > * {
  vertical-align: middle;
}

.li-style > .input-style[type="checkbox"] {
  margin: 0 10px;
}

.li-style > .label-style {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.li-style > .input-style[type="text"] {
  width: 226px;
}

.button-style .img-remove{
  height: 2em;
  transform: rotatez(45deg);
  transition: transform 200ms ease-in;
}

.button-style .img-remove:hover {
  transform: rotatez(0);
}

/* Completed */
.complete-task#completed-tasks .task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.complete-task .li-style .input-style[type=text] {
  display: none;
}

.complete-task .li-style.edit-mode .input-style[type=text] {
  display: inline-block;
  width: 224px;
}

.complete-task .li-style.edit-mode .label {
  display: none;
}



